.add-meal {
  /* margin: 3vh 20%; */
  height: calc(100vh - 200px);
}

.add-meal p {
  margin: 10px 10px;
  text-align: center;
}

.form {
  margin: 0px 15vw;
}

.add-form {
  width: 70vw;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: 30% 30%;
  column-gap: 2%;
  margin: 3% 0px;
}

.add-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
}

.flex-buttons {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.add-form input {
  padding: 3px 3px;
  outline-color: lightgreen;
}

#back {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

@media screen and (max-width: 650px) {
  .add-form {
    grid-template-columns: 40% 40%;
  }
}
