.reservation-form-wrapper {
  background-image: url("reservation.png");
  background-position: 100% 60%;
  padding: 40px 40px;
  border: 1px solid lightgreen;
  text-align: center;
  align-items: center;
}

.reservation-form-container {
  margin: auto;
  width: 30%;
  padding: 10px 20px;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
}

.flex-form {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}

.flex-form label {
  margin-bottom: 5px;
}

.flex-form input {
  margin: 0px 4px;
  padding: 3px 3px;
  outline-color: lightgreen;
}

.italics {
  font-style: italic;
}
