.pageContainer {
  width: auto;
  overflow-x: hidden;
  height: 500px;
  background-image: url("404.png");
  background-size: cover;
  background-position: center;
}

.textContainer h1,
.textContainer h2 {
  font-weight: 500;
}

.textContainer h2 {
  margin-bottom: 15px;
}

.textContainer {
  background-image: none;
  position: relative;
  left: 7%;
  top: 40%;
}

@media screen and (max-width: 900px) {
  .textContainer {
    font-size: 0.75em;
  }
}
