@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "theme.css";
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

@media screen and (max-width: 1400px) {
  #root {
    padding-left: 30%;
    padding-right: 30%;
  }
}

@media screen and (max-width: 750px) {
  #root {
    padding-left: 0;
    padding-right: 0;
  }
}
